[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
frozen-flask = "*"
flask-flatpages = "*"
pylint = "*"
libsass = "*"
livereload = "*"
jinja2 = "*"
dukpy = "*"
slimit = "*"
ply = "*"
htmlmin = "*"

[requires]
python_version = "3.7"
